body {
  font-size: 14px;
  line-height: 21px; }

article {
  max-width: 998px;
  margin: auto; }

h1 {
  font-size: 96px;
  line-height: 105px;
  margin-top: 21px;
  margin-bottom: 42px; }

h2 {
  font-size: 37px;
  line-height: 42px;
  margin-top: 42px;
  margin-bottom: 21px; }

h3 {
  font-size: 23px;
  line-height: 42px;
  margin-top: 21px;
  margin-bottom: 0px; }

p, ul {
  margin-top: 0px;
  margin-bottom: 21px; }

small, aside {
  font-size: 9px; }

body {
  width: 1000px;
  margin: 40px auto;
  color: #333333;
  font-family: 'Merriweather', serif;
  text-align: center; }
  body > footer {
    margin-top: 180px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

a {
  color: #195580;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

input {
  font-family: 'Merriweather', serif; }

input[type=text] {
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 28px;
  width: 600px; }

h3 {
  margin-top: 40px; }

ol {
  margin: auto;
  width: 400px;
  text-align: left; }

.help {
  text-align: left;
  padding: 10px 30px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 300px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: none; }
