body {
	font-size: 14px;
	line-height: 21px;
}

article {
	max-width: 998px;
	margin: auto;
}

h1 {
	font-size: 96px;
	line-height: 105px;
	margin-top: 21px;
	margin-bottom: 42px;
}

h2 {
	font-size: 37px;
	line-height: 42px;
	margin-top: 42px;
	margin-bottom: 21px;
}

h3 {
	font-size: 23px;
	line-height: 42px;
	margin-top: 21px;
	margin-bottom: 0px;
}

p, ul {
	margin-top: 0px;
	margin-bottom: 21px;
}

small, aside {
    font-size: 9px;
}

$c: #ccc;
$dark: #333;

body {
	width: 1000px;
	margin: 40px auto;
	color: $dark;
	font-family: 'Merriweather', serif;
	text-align: center;
	& > footer {
		margin-top: 120px;
	}
}
a {
	color: #195580;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

input {
	font-family: 'Merriweather', serif;
}
input[type=text] {
	border: 1px solid $c;
	padding: 5px;
	font-size: 28px;
	width: 460px;
}

h3 {
	margin-top: 40px;
}

ol {
	margin: auto;
	width: 400px;
	text-align: left;
}